@mixin _button-base {
  @include body-regular-mobile;

  cursor: pointer;
  min-width: 80px;
  height: 40px;
  padding: 0 to-rem(16px);
  border: 1px solid;

  @include breakpoint(desktopS) {
    @include body-regular;

    min-width: 130px;
    height: 44px;
    padding: 0 to-rem(40px);
  }
}

@mixin button-primary-1 {
  @include _button-base;

  background-color: transparent;
  color: blue;
  border-color: blue;

  &:hover,
  &:focus {
    color: lightblue;
    border-color: lightblue;
  }
}

@mixin button-secondary-1 {
  @include _button-base;

  background-color: blue;
  color: white;
  border-color: blue;

  &:hover,
  &:focus {
    background-color: lightblue;
    color: white;
    border-color: lightblue;
  }
}

@mixin button-primary-2 {
  @include _button-base;

  background-color: transparent;
  color: white;
  border-color: white;

  &:hover,
  &:focus {
    color: lightblue;
    border-color: lightblue;
  }
}

@mixin button-secondary-2 {
  @include _button-base;

  background-color: white;
  color: blue;
  border-color: white;

  &:hover,
  &:focus {
    background-color: lightblue;
    border-color: lightblue;
  }
}
