@mixin _button-base {
  @include body-regular-mobile;

  cursor: pointer;
  min-width: 80px;
  height: 40px;
  padding: 0 to-rem(16px);
  border: 1px solid;

  @include breakpoint(desktopS) {
    @include body-regular;

    min-width: 130px;
    height: 44px;
    padding: 0 to-rem(40px);
  }
}

@mixin button-blue-mountain-primary {
  @include _button-base;

  background-color: transparent;
  color: $white;
  border-color: $white;

  &:hover,
  &:focus {
    color: $bluemountainblue1;
    border-color: $bluemountainblue1;
  }
}

@mixin button-blue-mountain-secondary {
  @include _button-base;

  background-color: $white;
  color: $bluemountainblue5;
  border-color: $white;

  &:hover,
  &:focus {
    background-color: $bluemountainblue1;
    border-color: $bluemountainblue1;
  }
}
