@import "./utility.scss";

// Mobile typography

@mixin heading-1-mobile {
  font-size: to-rem(60px);
  font-weight: 900;
}

@mixin heading-2-mobile {
  font-size: to-rem(50px);
  font-weight: 900;
}

@mixin heading-3-mobile {
  font-size: to-rem(40px);
  font-weight: 600;
}

@mixin heading-4-mobile {
  font-size: to-rem(30px);
}

@mixin body-large-mobile {
  font-size: to-rem(20px);
}

@mixin body-regular-mobile {
  font-size: to-rem(15px);
}

@mixin body-small-mobile {
  font-size: to-rem(12px);
}

// Desktop typography

@mixin heading-1 {
  font-size: to-rem(96px);
  font-weight: 900;
}

@mixin heading-2 {
  font-size: to-rem(80px);
  font-weight: 900;
}

@mixin heading-3 {
  font-size: to-rem(64px);
  font-weight: 600;
}

@mixin heading-4 {
  font-size: to-rem(48px);
  font-weight: 600;
}

@mixin body-large {
  font-size: to-rem(32px);
}

@mixin body-regular {
  font-size: to-rem(24px);
}

@mixin body-small {
  font-size: to-rem(16px);
}

//general styling

@mixin link {
  text-decoration: underline;
}
