@import "../../styles/global.scss";

.site-description {
  position: relative;
  height: 100vh;
  background-color: rgb(8, 14, 24);

  &__container {
    @include container;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: to-rem(1920px);
    height: 100%;
    margin: 0 auto;

    @include breakpoint(desktopS) {
      flex-direction: row;
    }
  }

  &__image-container {
    position: relative;
    width: 100%;
    height: 0;
    padding-top: percentage(4/6);
    margin-bottom: to-rem(16px);

    @include breakpoint(tabletS) {
      max-width: to-rem(696px);
      padding-top: calc((4 / 6) * to-rem(696px));
      margin-bottom: to-rem(24px);
    }

    @include breakpoint(desktopS) {
      width: 50%;
      max-width: unset;
      padding-top: percentage((1/1) * 0.5);
      margin-right: to-rem(64px);
      margin-bottom: 0;
    }
  }

  &__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
  }

  &__text-container {
    text-align: center;

    @include breakpoint(tabletS) {
      max-width: to-rem(696px);
    }

    @include breakpoint(desktopS) {
      width: 50%;
      max-width: unset;
      text-align: left;
    }
  }

  &__title {
    @include heading-2-mobile;

    margin-bottom: to-rem(8px);

    @include breakpoint(tabletS) {
      margin-bottom: to-rem(16px);
    }

    @include breakpoint(desktopS) {
      @include heading-2;

      margin-bottom: to-rem(24px);
    }
  }

  &__description {
    @include body-regular-mobile;

    @include breakpoint(desktopS) {
      @include body-regular;
    }
  }
}
