@import "../../styles/global.scss";

.header {
  width: 100vw;
  height: to-rem(70px);
  background-color: #39a9db;
  transition: 1s ease;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;

  @include breakpoint(tabletL) {
    width: 100vw;
    height: to-rem(90px);
    background-color: #39a9db;
    transition: 1s ease;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
  }

  &__container {
    height: 100%;
    @include container;

    @include breakpoint(desktopS) {
      display: flex;
      justify-content: space-between;
    }
  }

  &__top {
    display: flex;
  }

  &__logo {
    color: white;
    @include body-large-mobile;
    position: absolute;
    top: to-rem(25px);
    // right: to-rem(28px);

    @include breakpoint(tabletL) {
      top: to-rem(35px);
    }
  }

  &__menu {
    position: absolute;
    top: to-rem(28px);
    right: to-rem(28px);

    @include breakpoint(tabletS) {
      right: to-rem(36px);
    }

    @include breakpoint(tabletL) {
      top: to-rem(38px);
    }

    @include breakpoint(desktopS) {
      display: none;
    }
  }

  &__nav {
    margin-top: 50%;
    color: red;
    display: flex;
    flex-direction: column;

    @include breakpoint(tabletS) {
      margin-top: 20%;
    }

    @include breakpoint(tabletL) {
      margin-top: 15%;
    }

    @include breakpoint(desktopS) {
      flex-direction: row;
      margin-top: 0;
      height: 100%;
      align-items: center;
    }
  }

  &__links {
    @include heading-3-mobile;
    margin-bottom: to-rem(30px);
    text-decoration: none;

    @include breakpoint(tabletS) {
      @include heading-3;
    }

    @include breakpoint(desktopS) {
      @include body-regular;
      margin-bottom: 0;
      margin-left: to-rem(20px);
    }

    &--display {
      display: none;

      @include breakpoint(desktopS) {
        display: flex;
      }
    }

    &--sub {
      @include heading-4-mobile;
      margin-left: to-rem(40px);

      @include breakpoint(tabletS) {
        @include heading-4;
      }

      @include breakpoint(desktopS) {
        @include body-small;
      }
    }

    &--selected {
      text-decoration: underline;
    }

    &:hover {
      color: blue;
    }
  }

  &__sub-container {
    display: flex;
    flex-direction: column;
    margin-top: to-rem(20px);

    &--display {
      @include breakpoint(desktopS) {
        display: none;
      }
    }
  }
}

input {
  display: none;
  &:checked + label > div {
    div {
      transform: rotate(90deg);
      span {
        &:before,
        &:after {
          background: $white;
        }
        &:first-child {
          &:before {
            transform: rotate(45deg) translate(2.2px, -3px) scaleX(1.05);
          }
          &:after {
            transform: rotate(-45deg) translate(-2.2px, -3px) scaleX(1.05);
          }
        }
        &:last-child {
          &:before {
            transform: rotate(-45deg) translate(2.2px, 3px) scaleX(1.05);
          }
          &:after {
            transform: rotate(45deg) translate(-2.2px, 3px) scaleX(1.05);
          }
        }
      }
    }
    svg {
      stroke-dashoffset: 62;
      stroke-dasharray: 0 82.801 62 82.801;
      transform: rotate(90deg);
      stroke: #fff;
      &:nth-child(3) {
        transform: rotate(270deg);
      }
    }
  }
}
.toggle {
  display: block;
  cursor: pointer;
  & > div {
    width: 20px;
    height: 14px;
    position: relative;
    div {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      transition: transform 0.5s ease;
      span {
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        &:first-child {
          top: 0;
          &:before,
          &:after {
            top: 0;
          }
        }
        &:last-child {
          bottom: 0;
          &:before,
          &:after {
            bottom: 0;
          }
        }
        &:before,
        &:after {
          content: "";
          display: block;
          width: 47%;
          height: 2px;
          border-radius: 1px;
          background: $white;
          position: absolute;
          -webkit-backface-visibility: hidden;
          transition: transform 0.5s ease, border-radius 0.3s ease,
            background 0.4s ease;
        }
        &:before {
          left: 0;
          transform-origin: 0 50%;
          transform: translate(1px, 0) scaleX(1.1);
        }
        &:after {
          right: 0;
          transform-origin: 100% 50%;
          transform: translate(-1px, 0) scaleX(1.1);
        }
      }
    }
    svg {
      display: block;
      fill: none;
      stroke: $white;
      stroke-width: 2px;
      width: 44px;
      height: 44px;
      stroke-linecap: round;
      position: absolute;
      left: 50%;
      top: 50%;
      margin: -22px 0 0 -22px;
      stroke-dasharray: 0 82.801 8 82.801;
      stroke-dashoffset: 82.801;
      transform-origin: 50% 50%;
      -webkit-backface-visibility: hidden;
      transform: scale(1);
      transition: stroke-dashoffset 0.5s ease, stroke-dasharray 0.6s ease,
        transform 0.5s ease, stroke 0.4s ease;
      &:nth-child(3) {
        transform: rotate(180deg) scale(1);
      }
    }
  }
}
