@font-face {
  font-family: "Overpass";
  src: url("../assets/fonts/overpass-regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Overpass";
  src: url("../assets/fonts/overpass-semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Overpass";
  src: url("../assets/fonts/overpass-black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
