// Colors
$white: #ffffff;
// Home Colors
$skyblue: rgb(220, 227, 235);
$lightblue: rgb(185, 204, 226);
$paletteblue: rgb(81, 107, 137);
$hoverblue: rgb(25, 39, 54);
$navyblue: rgb(8, 14, 24);
// Blue Mountain Colors
$bluemountainblue1: rgb(182, 216, 248);
$bluemountainblue2: rgb(123, 187, 246);
$bluemountainblue3: rgb(89, 170, 245);
$bluemountainblue4: rgb(43, 148, 245);
$bluemountainblue5: rgb(3, 95, 181);
$bluemountainblue6: rgb(1, 53, 102);
$bluemountainblue7: rgb(1, 23, 45);

// Fonts
$overpass: "Overpass";

// Breakpoints
$breakpoint-tabletS-width-min: 768px;
$breakpoint-tabletL-laptop-width-min: 1024px;
$breakpoint-desktopS-width-min: 1280px;
$breakpoint-desktopL-width-min: 1440px;

$breakpoint-tabletL-height-min: 1000px;
