// Colors
$white: #ffffff;
$navyblue: rgb(16, 13, 23);
$skyblue: rgb(190, 211, 230);
$lightblue: rgb(180, 200, 223);
$paletteblue: rgb(81, 107, 137);
$hoverblue: rgb(25, 39, 54);

// Fonts
$overpass: "Overpass";

// Breakpoints
$breakpoint-tabletS-width-min: 768px;
$breakpoint-tabletL-laptop-width-min: 1024px;
$breakpoint-desktopS-width-min: 1280px;
$breakpoint-desktopL-width-min: 1440px;

$breakpoint-tabletL-height-min: 1000px;
