// Colors
$white: #ffffff;
$skyblue: rgb(220, 227, 235);
$lightblue: rgb(185, 204, 226);
$paletteblue: rgb(81, 107, 137);
$hoverblue: rgb(25, 39, 54);
$navyblue: rgb(8, 14, 24);

// Fonts
$overpass: "Overpass";

// Breakpoints
$breakpoint-tabletS-width-min: 768px;
$breakpoint-tabletL-laptop-width-min: 1024px;
$breakpoint-desktopS-width-min: 1280px;
$breakpoint-desktopL-width-min: 1440px;

$breakpoint-tabletL-height-min: 1000px;
